<div class="container rounded bg-light">
    <br class="mt-2">
    <div class="container mt-4 d-flex justify-content-center">
        <h2>Resultados de: <b><i>"{{categoria.nome}}"</i></b></h2>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm">
            {{#each postagens}}
                <div class="card mt-2">
                    <div class="card-body">
                        <h4>{{titulo}}</h4>
                        <p>Descrição: {{descricao}}</p>
                        <small>Data de cadastro: {{data}}</small>
                    </div>
                </div>
            {{else}}
                <h4 class="mt-3 d-flex justify-content-center text-danger">Nenhum registro. ):</h4>
            {{/each}}
        </div>
    </div>
    <br class="mt-4">
</div>
<br class="mt-4">